<h3> {{ user }} está te convidando parar participar da equipe </h3>
<p> Você recebeu um convite para participar do time <strong>{{ team }}</strong></p>
<p>
  Para confirmar sua participação, por favor se registre
  <a href="https://localhost:3333/register">aqui</a>
</P>
<br>
<p>Abraço da equipe <b>SaaS</b></p>
